<a href="https://colab.research.google.com/github/ytisrevinu11-stack/Exercise_2025/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

010

In [1]:
name = '홍길동'
age = 17
weight = 70.7
is_badman = False

In [2]:
name: str = '홍길동'
age: int = 17
weight: float = 70.7
is_badman: bool = False

In [3]:
booklist:list[str] = ['삼국지', '수호자', '초한지']

In [4]:
island: tuple[str, float, float] = ('독도', 131.52, 37.14)

In [5]:
top4_familyname: dict[str, int] = {'김씨':123456, '나씨':345811, '박씨':963123, '이씨':865909}

In [6]:
fruits: set[str] = {'사과', '배', '수박', '참외', '딸기'}

In [7]:
print(__annotations__)

{'name': <class 'str'>, 'age': <class 'int'>, 'weight': <class 'float'>, 'is_badman': <class 'bool'>, 'booklist': list[str], 'island': tuple[str, float, float], 'top4_familyname': dict[str, int], 'fruits': set[str]}

In [9]:
fruits: set[str] = {'사과', '배', '수박', '참외', '딸기'}
fruits = {1, 2, 3, 4, 5}
print(fruits)

{1, 2, 3, 4, 5}

011

In [10]:
userInput = input()
print('사용자가 입력한 값은<'+userInput+'>입니다.')

10
사용자가 입력한 값은<10>입니다.

In [11]:
userInput = input('값을 입력하세요: ')
print('사용자가 입력한 값은<'+userInput+'> 입니다.')

값을 입력하세요: yes
사용자가 입력한 값은<yes> 입니다.