<a href="https://colab.research.google.com/github/ytisrevinu11-stack/Exercise_2025/blob/main/22augmented_assignment_operators_23comparison_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

022

In [1]:
a = a + 1

NameError: name 'a' is not defined

In [2]:
a += 1

NameError: name 'a' is not defined

In [ ]:
a -= 1 #a에서 1을 뺀 결과를 a에 할당
a *= 2 #a와 2를 곱한 결과를 a에 할당
a /= 2 #a에서 2를 나눈 결과를 a에 할당

023

In [4]:
x = 1; y = 2
strData1 = 'Hello'; strData2 = 'python'
print(x == y)
print(x != y)
print(strData1 == strData2)
print(strData2 == 'python')
print(strData1 < strData2)

False
True
False
True
True