<a href="https://colab.research.google.com/github/ytisrevinu11-stack/Exercise_2025/blob/main/40list()_41map().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

040

In [1]:
tupleData = (1,2,3,4,5)
print(list(tupleData))

[1, 2, 3, 4, 5]

In [2]:
strData = 'I love python!'
print(list(strData))

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n', '!']

In [3]:
def MyRange(n):
  current = 0
  while current < n:
    yield current
    current += 1

intList = MyRange(5)
print(list(intList))

[0, 1, 2, 3, 4]

041

map(func, iterable)

In [4]:
def myfunc(x):
  return x**2

result = map(myfunc, [0,1,2,3])
print(list(result))

[0, 1, 4, 9]

In [5]:
x = [1,2,3,4,5]
y = [10,9,8,7,6]
ret = map(lambda x,y: x**2+y, x, y)
print(list(ret))

[11, 13, 17, 23, 31]