<a href="https://colab.research.google.com/github/ytisrevinu11-stack/Exercise_2025/blob/main/4variable_5annotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

004

In [ ]:
_myname = 'samsjang'

In [ ]:
my_name = '홍길동'

In [ ]:
MyName = 'Hong  gil-dong'

In [ ]:
country = '대한민국'

In [ ]:
1_str = '안녕하세요 파이썬!'

SyntaxError: invalid decimal literal (ipython-input-1982670015.py, line 1)

In [ ]:
str_1 = '안녕하세요 파이썬!'

In [ ]:
_%var = 'Temp Variables'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-428464880.py, line 1)

In [ ]:
_var = 'Temp Variables'

In [ ]:
@address = 'samjang@naver.com'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-339640597.py, line 1)

In [ ]:
address = 'samjang@naver.com'

In [ ]:
counter = 1
Counter = 1

In [ ]:
and = 1
   File"<stdin>", line1
      and = 1

SyntaxError: invalid syntax (ipython-input-764401347.py, line 1)

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
abs = 1
abs(-1)

TypeError: 'int' object is not callable

In [ ]:
intData = 1
pi = 3.14

In [ ]:
flag = True

In [ ]:
ch = 'x'
strData = '사랑해요 파이썬'

In [ ]:
buffer = 1
buffer + 2

3

In [ ]:
buffer = 'three'
buffer

'three'

005

In [ ]:
###주석처리 예시
###만든 날짜 : 2025.9.11

a = 1 # a에 1을 할당
b = 5 # b에 5를 할당
print(a+b) # a+b의 값을 출력

6

In [ ]:
comment = 'Result'
# 삼중 따옴표로 특정 영역 주석 처리 예시
"""a = 1
b = 100
print(a+b)"""
a = 5
b = 50
print(comment, a+b)

Result 55