<a href="https://colab.research.google.com/github/ytisrevinu11-stack/Exercise_2025/blob/main/50max()_min()_51s_count().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

050

In [1]:
listData = [9.96, 1.27, 5.07, 6.45, 8.38, 9.29, 4.93, 7.73, 3.71, 0.93]
print(max(listData))
print(min(listData))

9.96
0.93

In [2]:
strData = 'AlotofThingsOccurEachday'
print(max(strData))
print(min(strData))

y
A

In [3]:
strList = ['jang', 'apple12', '3sung', 'sam']
print(max(strList))
print(min(strList))

sam
3sung

In [4]:
list1 = [1,2,3,'a','b','c']
print(max(list1))

TypeError: '>' not supported between instances of 'str' and 'int'

051

In [5]:
lyrics = 'A lot of things occur each day! every day!'
print(lyrics.count('o'))

3

In [6]:
lyrics = 'A lot of things occur each day! every day!'
print(lyrics.count('day'))

2

In [8]:
lyrics = 'A lot or things occur each day! every day!'
print(lyrics.count(' '))

8

In [9]:
listData = [1,6,1,4,8,4,12,1,0,9,9,7,4,3,6,7,3,2]
print(listData.count(1))

3